{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $username := promptStringOnce . "username" "Username (github)" -}}
{{- $hasOrbStack := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hasOrbStack = promptBoolOnce . "hasOrbStack" "Is OrbStack installed?" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  username = {{ $username | quote }}
  hasOrbStack = {{ $hasOrbStack }}


[git]
  autoCommit = true
  autoPush = true