# Set PATH, MANPATH, etc., for Homebrew.
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# Added by OrbStack: command-line tools and integration
{{ if and (eq .chezmoi.os "darwin") .hasOrbStack -}}
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}