{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# Install Homebrew if not present
if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- else -}}
#!/bin/sh
# Not macOS — Homebrew not installed
{{- end -}}