{{- if eq .chezmoi.os "darwin" -}}
  #!/bin/sh
  # Install all packages from Brewfile
  brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"

  # --- Common: oh-my-zsh + plugins ---
  if [ ! -d "$HOME/.oh-my-zsh" ]; then
    RUNZSH=no CHSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  fi

  if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-completions" ]; then
    git clone https://github.com/zsh-users/zsh-completions "$HOME/.oh-my-zsh/custom/plugins/zsh-completions"
  fi

  if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions" ]; then
    git clone https://github.com/zsh-users/zsh-autosuggestions "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
  fi

  if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting" ]; then
    git clone https://github.com/zsh-users/zsh-syntax-highlighting "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
  fi

  if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-npm-scripts-autocomplete" ]; then
    git clone https://github.com/grigorii-zander/zsh-npm-scripts-autocomplete "$HOME/.oh-my-zsh/custom/plugins/zsh-npm-scripts-autocomplete"
  fi

  if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/fzf-tab" ]; then
    git clone https://github.com/Aloxaf/fzf-tab "$HOME/.oh-my-zsh/custom/plugins/fzf-tab"
  fi

  # Set zsh as default shell if not already
  if [ "$(getent passwd "$USER" | cut -d: -f7)" != "$(which zsh)" ]; then
    echo "Setting zsh as default shell..."
    chsh -s "$(which zsh)"
  fi
{{- end }}